.filter-field {
    position: relative;
    width: 100%;
}

.section-container {
    padding: 16px;
    outline: 1px solid black;
    border-radius: 5px;
}

/* 
.filter-container {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
} */

.detail-box {
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

